<!doctype html>

<div id="hobbies">

  <img src="assets/test.jpg" style="height:200px; width:200px;">
  	
  </img> 

</div>

     <div class="hello"> Hello everybody... this is the first webpage that i made </div>

