<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>
    my webpage
  </title>

</head>
<body>

   <header>

      <h1> MY PAGE</h1>
      <nav>
           <ul>
               <li class="magic"><a href="/sport"> sport </a>
               <div class="magic2">
                <p> this is magic</p>
                <p> everyday getting better</p>
               </div>
               </li>

               <li><a href="/aboutme">aboutme </a></li>
               <li><a href="/hobbies"> hobbies </a></li>
               <li><a href="/cats"> cats </a></li>
               <li><a href="/monkies"> monkies </a></li>
               <li><a href="/monkies/list"> monkies list </a></li>
               <li><a href="/monkies/new"> new monkies </a></li>
               

            
            </ul>
      </nav>
   </header>

<%= yield %>


       <li><a href="https://www.facebook.com/">Facebook</a></li>
       <li><a href="https://www.youtube.com/">Youtube</a></li>

      <footer> 
              *My Site   

      </footer>



</body>
</html>
